            body {
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }
            
            #container1 {
                position: absolute;
                width: 600px;
                height: 167px;
                left: 0px;
                top: 0px;
                background: url(ferks-guare-KEZdWfYD-ow-unsplash\ 1.png);
            }
            
            #motto-App {
                position: absolute;
                width: 500;
                height: 8px;
                left: 20px;
                top: 59px;
                font-family: 'Smythe';
                font-style: normal;
                font-weight: 400;
                font-size: 22.4216px;
                line-height: 14px;
                /* or 62% */
                color: #FFFFFF;
            }
            
            #container-Item {
                margin-bottom: -40px;
            }
            
            #title-logo {
                position: absolute;
                width: 400px;
                height: 24px;
                margin-left: -88px;
                left: 20px;
                top: 20px;
                font-family: 'Smythe';
                font-style: normal;
                font-weight: 400;
                font-size: 39px;
                line-height: 24px;
                /* identical to box height, or 62% */
                text-align: center;
                color: #FFFFFF;
            }
            
            #items-Container {
                margin-top: 160px;
                margin-right: 400px;
                width: 350px;
            }
            
            #symbol-Div {
                display: flexbox;
                width: 80px;
                height: 80px;
                margin-left: 10px;
            }
            
            #title-Div {
                display: flexbox;
                margin-left: 95px;
                margin-top: -110px;
                font-size: 30px;
                width: 150px;
            }
            
            #symbol-Item {
                display: flexbox;
                font-size: 60px;
            }
            
            #description-Div {
                margin-left: 95px;
                width: 250px;
                margin-top: -28px;
                font-size: 15px;
                color: grey;
            }
            
            #price-Div {
                margin-left: 95px;
                margin-top: -12px;
                width: 45px;
            }
            
            #pizza-Btn {
                width: 31px;
                margin-left: 550px;
                margin-top: -240px;
            }
            
            #hamburger-Btn {
                width: 31px;
                margin-left: 550px;
                margin-top: 59px;
            }
            
            #beer-Btn {
                width: 31px;
                margin-left: 550px;
                margin-top: 65px;
            }
            
            #command-Btn1,
            #command-Btn2,
            #command-Btn3 {
                height: 30px;
                width: 30px;
                text-align: center;
                color: rgb(52, 70, 57);
                border: solid 1px;
                border-radius: 4px;
                background-color: white;
            }
            
            #command-Btn1:hover {
                background-color: rgb(136, 190, 136)
            }
            
            #command-Btn2:hover {
                background-color: rgb(136, 190, 136)
            }
            
            #command-Btn3:hover {
                background-color: rgb(136, 190, 136)
            }
            
            #divide-Items {
                width: 100px;
                height: 10px;
                margin-top: -30px;
            }
            
            #container-Order {
                display: none;
                width: 600px;
                height: auto;
                margin-top: 30px;
            }
            
            #order-Title {
                margin-left: 45%;
                text-align: center;
                padding-bottom: 20px;
            }
            
            #price-Pizza,
            #price-Hamburger,
            #price-Beer {
                margin-left: 550px;
                margin-top: -30px;
                padding-top: 10px;
            }
            
            #totalPrice {
                width: 600px;
                height: 30px;
                padding-top: 20px;
            }
            
            #sum {
                width: 50px;
                height: 25px;
                margin-left: 550px;
                margin-top: -25px;
            }
            
            #remove-Btn {
                color: white;
                font-size: 15px;
                margin-left: 87px;
                margin-top: -20px;
                margin-bottom: 5px;
                font: bold;
                border-radius: 4px;
                border: solid rgb(212, 153, 153) 1px;
                background-color: rgb(179, 142, 248);
            }
            
            #pizzaName,
            #hamburgerName,
            #beerName {
                background-color: chartreuse;
                width: 75px;
            }
            
            .removeClass {
                padding-top: -15px;
            }
            
            #pizzaName,
            #hamburgerName,
            #beerName {
                height: 0px;
            }
            
            #complete-Order {
                display: none;
                background-color: rgb(133, 231, 138);
                width: 600px;
                height: 40px;
                border: solid 0px;
                font-size: 20px;
                color: rgb(255, 255, 255);
            }
            
            #formElement {
                background-color: rgb(144, 247, 131);
                position: fixed;
                top: 0px;
                bottom: 0px;
                left: -750px;
                right: 0px;
                margin: auto;
                width: 280px;
                height: 150px;
                padding-top: 125px;
                padding-bottom: 90px;
                padding-left: 299px;
                border-radius: 15px;
            }
            
            .input-Field {
                margin: 5px;
                padding: 5px;
                padding-left: -10px;
                margin-left: -100px;
                background-color: rgb(199, 228, 230);
            }
            
            #project-Container {
                padding-top: 20px;
                padding-bottom: 35px;
            }
            
            #pay-Btn {
                margin-left: -102px;
                width: 185px;
                height: 30px;
                margin-top: 10px;
                border-radius: 5px;
                background-color: rgb(76, 194, 76);
                border: solid rgb(236, 236, 236) 2px;
                color: white;
            }
            
            .disabledDiv {
                pointer-events: none;
                opacity: 0.4;
            }
            
            .deletForm {
                display: none;
            }
            
            #input-Field1 {
                margin-left: -75px;
            }
            
            #final-Info {
                display: flex;
                width: 570px;
                height: 30px;
                background-color: rgb(196, 233, 196);
                margin-top: 30px;
                margin-left: 0px;
                padding-right: 20px;
                padding-bottom: 20px;
            }
            
            #delimiter {
                display: none;
            }
            
            #p-El {
                color: rgb(23, 194, 37);
                padding-left: 170px;
            }
            
            #span-El {
                color: rgb(243, 106, 106);
            }